/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    nf-cmgg/structural Nextflow config file
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Default config options for all compute environments
----------------------------------------------------------------------------------------
*/

// Global default params, used in configs
params {

    // Input options
    input                           = null
    blacklist                       = null

    // Pipeline parameters
    callers                         = "manta,smoove,delly,expansionhunter,wisecondorx"
    output_callers                  = false
    sv_callers_support              = 1
    cnv_callers_support             = 1
    annotate                        = false
    concat_output                   = false
    annotations_filter              = null

    // Delly parameters
    delly_sv_types                  = "ALL"
    delly_map_qual                  = 1
    delly_min_clique_size           = 2

    // Manta parameters
    manta_config                    = null

    // qDNAseq parameters
    qdnaseq_bin_size                = 100000
    qdnaseq_cnv_ratio               = 0.5

    // AnnotSV options
    annotsv_candidate_genes         = null
    annotsv_gene_transcripts        = null

    // VEP options
    vep_assembly                    = "GRCh38"
    vep_cache_version               = 112
    vep_version                     = 112.0
    species                         = "homo_sapiens"

    // VCFanno options
    vcfanno_toml                    = null
    vcfanno_lua                     = null
    vcfanno_resources               = null

    // MultiQC options
    multiqc_config                  = null
    multiqc_title                   = null
    multiqc_logo                    = null
    max_multiqc_email_size          = '25.MB'
    multiqc_methods_description     = null

    // Import data options
    genome                          = "GRCh38"
    genomes_base                    = null //"/references/"
    genomes_ignore                  = false
    cmgg_config_base                = "/conf/"
    igenomes_base                   = null //'s3://ngi-igenomes/igenomes'
    igenomes_ignore                 = true
    genomes                         = [:]

    // Boilerplate options
    outdir                          = null
    publish_dir_mode                = 'copy'
    email                           = null
    email_on_fail                   = null
    plaintext_email                 = false
    hook_url                        = null
    help                            = false
    version                         = false

    // Config options
    config_profile_name        = null
    config_profile_description = null
    custom_config_version      = 'master'
    custom_config_base         = "https://raw.githubusercontent.com/nf-core/configs/${params.custom_config_version}"
    config_profile_contact     = null
    config_profile_url         = null

    // Schema validation default options
    monochrome_logs                  = false
    validationFailUnrecognisedParams = false
    validationLenientMode            = false
    validationSchemaIgnoreParams     = 'genomes,igenomes_base,test_data'
    validationShowHiddenParams       = false
    validate_params                  = true

}

// Load base.config by default for all pipelines
includeConfig 'conf/base.config'

// Load nf-core custom profiles from different Institutions
includeConfig !System.getenv('NXF_OFFLINE') ? "${params.custom_config_base}/nfcore_custom.config" : "conf/empty.config"

profiles {
    debug {
        dumpHashes             = true
        process.beforeScript   = 'echo $HOSTNAME'
        cleanup                = false
        nextflow.enable.configProcessNamesValidation = true
    }
    conda {
        conda.enabled          = true
        docker.enabled         = false
        singularity.enabled    = false
        podman.enabled         = false
        shifter.enabled        = false
        charliecloud.enabled   = false
        apptainer.enabled      = false
    }
    mamba {
        conda.enabled          = true
        conda.useMamba         = true
        docker.enabled         = false
        singularity.enabled    = false
        podman.enabled         = false
        shifter.enabled        = false
        charliecloud.enabled   = false
        apptainer.enabled      = false
    }
    docker {
        docker.enabled         = true
        conda.enabled          = false
        singularity.enabled    = false
        podman.enabled         = false
        shifter.enabled        = false
        charliecloud.enabled   = false
        apptainer.enabled      = false
        docker.runOptions      = '-u $(id -u):$(id -g)'
    }
    arm {
        docker.runOptions      = '-u $(id -u):$(id -g) --platform=linux/amd64'
    }
    singularity {
        singularity.enabled    = true
        singularity.autoMounts = true
        conda.enabled          = false
        docker.enabled         = false
        podman.enabled         = false
        shifter.enabled        = false
        charliecloud.enabled   = false
        apptainer.enabled      = false
    }
    podman {
        podman.enabled         = true
        conda.enabled          = false
        docker.enabled         = false
        singularity.enabled    = false
        shifter.enabled        = false
        charliecloud.enabled   = false
        apptainer.enabled      = false
    }
    shifter {
        shifter.enabled        = true
        conda.enabled          = false
        docker.enabled         = false
        singularity.enabled    = false
        podman.enabled         = false
        charliecloud.enabled   = false
        apptainer.enabled      = false
    }
    charliecloud {
        charliecloud.enabled   = true
        conda.enabled          = false
        docker.enabled         = false
        singularity.enabled    = false
        podman.enabled         = false
        shifter.enabled        = false
        apptainer.enabled      = false
    }
    apptainer {
        apptainer.enabled      = true
        apptainer.autoMounts   = true
        conda.enabled          = false
        docker.enabled         = false
        singularity.enabled    = false
        podman.enabled         = false
        shifter.enabled        = false
        charliecloud.enabled   = false
    }
    gitpod {
        executor.name          = 'local'
        executor.cpus          = 4
        executor.memory        = 8.GB
    }
    test      { includeConfig 'conf/test.config'       }
    test_big  { includeConfig 'conf/test_big.config'   }
    test_full { includeConfig 'conf/test_full.config'  }
}

// Set default registry for Apptainer, Docker, Podman and Singularity independent of -profile
// Will not be used unless Apptainer / Docker / Podman / Singularity are enabled
// Set to your registry if you have a mirror of containers
apptainer.registry   = 'quay.io'
docker.registry      = 'quay.io'
podman.registry      = 'quay.io'
singularity.registry = 'quay.io'


includeConfig !params.igenomes_ignore ? "conf/igenomes.config" : !params.genomes_ignore ? "https://raw.githubusercontent.com/nf-cmgg/configs/main/conf/Hsapiens/genomes.config" : "conf/empty_genomes.config"

// Export these variables to prevent local Python/R libraries from conflicting with those in the container
// The JULIA depot path has been adjusted to a fixed path `/usr/local/share/julia` that needs to be used for packages in the container.
// See https://apeltzer.github.io/post/03-julia-lang-nextflow/ for details on that. Once we have a common agreement on where to keep Julia packages, this is adjustable.

env {
    PYTHONNOUSERSITE = 1
    R_PROFILE_USER   = "/.Rprofile"
    R_ENVIRON_USER   = "/.Renviron"
    JULIA_DEPOT_PATH = "/usr/local/share/julia"
}

// Capture exit codes from upstream processes when piping
process.shell = ['/bin/bash', '-euo', 'pipefail']

// Disable process selector warnings by default. Use debug profile to enable warnings.
nextflow.enable.configProcessNamesValidation = false

timeline {
    enabled = true
    file    = "${params.outdir}/pipeline_info/execution_timeline_${new java.util.Date().format( 'yyyy-MM-dd_HH-mm-ss')}.html"
}
report {
    enabled = true
    file    = timeline.file.replace("timeline", "report")
}
trace {
    enabled = true
    file    = timeline.file.replace("timeline", "trace")
}
dag {
    enabled = true
    file    = timeline.file.replace("execution_timeline", "pipeline_dag")
}

manifest {
    name            = 'nf-cmgg/structural'
    author          = 'Nicolas Vannieuwkerke & Mattias Van Heetvelde'
    homePage        = 'https://github.com/nf-cmgg/structural'
    description     = 'A bioinformatics best-practice analysis pipeline for calling structural variants (SVs), copy number variants (CNVs) and repeat region expansions (RREs) from short DNA reads'
    mainScript      = 'main.nf'
    nextflowVersion = '!>=23.10.0'
    version         = '0.3.0dev'
    doi             = ''
}

// Nextflow plugins
plugins {
    id 'nf-schema@2.1.0' // Validation of pipeline parameters and creation of an input channel from a sample sheet
}

validation {
    defaultIgnoreParams    = ['genomes','igenomes_base','test_data']
    help {
        enabled = true
        beforeText = """
-\033[2m----------------------------------------------------\033[0m-
                                       \033[0;34m    ///\033[0;32m/// \033[0m
\033[0;34m        ___     __   _  _   __   __    \033[0;34m  ///\033[0;32m///// \033[0m
\033[0;34m  |\\ | |__  __ /  ` | \\/ | / _` / _`   \033[0;34m////\033[0;32m////// \033[0m
\033[0;34m  | \\| |       \\__, |    | \\__| \\__|   \033[0;34m///\033[0;32m///// \033[0m
                                       \033[0;34m///\033[0;32m/// \033[0m
\033[0;35m  ${manifest.name} ${manifest.version}\033[0m
-\033[2m----------------------------------------------------\033[0m-
"""
        command = "nextflow run ${manifest.name} -profile docker --input <samplesheet> --outdir <output_directory>"
    }
    summary {
        beforeText = validation.help.beforeText  
    }
}

// Load modules.config for DSL2 module specific options
includeConfig 'conf/modules.config'
