/*
========================================================================================
    Nextflow config file for running tests
========================================================================================
*/

includeConfig !System.getenv('NXF_OFFLINE') ? 'https://raw.githubusercontent.com/nf-core/modules/master/tests/config/test_data.config' : "conf/empty_test_data.config"

// Change some params to test data
params {
    test_data_base = 'https://raw.githubusercontent.com/nf-core/test-datasets/modules'

    config_profile_name        = 'nf-test profile'
    config_profile_description = 'Configurations for running nf-test'

    input  = "${baseDir}/tests/samplesheet.csv"

    // References for test data
    fasta                   = "https://github.com/nf-cmgg/test-datasets/raw/main/data/genomics/homo_sapiens/genome/seq/SVcontrol/reference.fasta"
    fai                     = "https://github.com/nf-cmgg/test-datasets/raw/main/data/genomics/homo_sapiens/genome/seq/SVcontrol/reference.fasta.fai"
    bwa                     = "https://github.com/nf-cmgg/test-datasets/raw/main/data/genomics/homo_sapiens/genome/seq/SVcontrol/bwa.tar.gz"
    expansionhunter_catalog = "https://github.com/nf-cmgg/test-datasets/raw/main/data/genomics/homo_sapiens/genome/expansionhunter/variant_catalog.json"
    qdnaseq_male            = "https://github.com/nf-cmgg/test-datasets/raw/main/data/genomics/homo_sapiens/genome/qdnaseq/chr21.10kbp.rda"
    qdnaseq_female          = "https://github.com/nf-cmgg/test-datasets/raw/main/data/genomics/homo_sapiens/genome/qdnaseq/chr21.10kbp.rda"
    wisecondorx_reference   = "${projectDir}/assets/test_wisecondorx_reference.npz"
    manta_config            = "${projectDir}/assets/manta_config.ini"
    annotsv_annotations     = null
    vep_cache               = null

    // Additional test data
    cram1 = "https://github.com/nf-cmgg/test-datasets/raw/main/data/genomics/homo_sapiens/illumina/cram/SVcontrol/PosCon1.cram"
    crai1 = "https://github.com/nf-cmgg/test-datasets/raw/main/data/genomics/homo_sapiens/illumina/cram/SVcontrol/PosCon1.cram.crai"
    cram2 = "https://github.com/nf-cmgg/test-datasets/raw/main/data/genomics/homo_sapiens/illumina/cram/SVcontrol/PosCon2.cram"
    crai2 = "https://github.com/nf-cmgg/test-datasets/raw/main/data/genomics/homo_sapiens/illumina/cram/SVcontrol/PosCon2.cram.crai"

    sv_vcf1 = "https://github.com/nf-cmgg/test-datasets/raw/main/data/genomics/homo_sapiens/illumina/vcf/SVcontrol/sv/PosCon1.sv.vcf.gz"
    sv_tbi1 = "https://github.com/nf-cmgg/test-datasets/raw/main/data/genomics/homo_sapiens/illumina/vcf/SVcontrol/sv/PosCon1.sv.vcf.gz.tbi"
    sv_vcf2 = "https://github.com/nf-cmgg/test-datasets/raw/main/data/genomics/homo_sapiens/illumina/vcf/SVcontrol/sv/PosCon2.sv.vcf.gz"
    sv_tbi2 = "https://github.com/nf-cmgg/test-datasets/raw/main/data/genomics/homo_sapiens/illumina/vcf/SVcontrol/sv/PosCon2.sv.vcf.gz.tbi"
    sv_vcf3 = "https://github.com/nf-cmgg/test-datasets/raw/main/data/genomics/homo_sapiens/illumina/vcf/SVcontrol/sv/PosCon3.sv.vcf.gz"
    sv_tbi3 = "https://github.com/nf-cmgg/test-datasets/raw/main/data/genomics/homo_sapiens/illumina/vcf/SVcontrol/sv/PosCon3.sv.vcf.gz.tbi"

    cnv_vcf1 = "https://github.com/nf-cmgg/test-datasets/raw/main/data/genomics/homo_sapiens/illumina/vcf/SVcontrol/cnv/PosCon1.cnv.vcf.gz"
    cnv_tbi1 = "https://github.com/nf-cmgg/test-datasets/raw/main/data/genomics/homo_sapiens/illumina/vcf/SVcontrol/cnv/PosCon1.cnv.vcf.gz.tbi"
    cnv_vcf2 = "https://github.com/nf-cmgg/test-datasets/raw/main/data/genomics/homo_sapiens/illumina/vcf/SVcontrol/cnv/PosCon2.cnv.vcf.gz"
    cnv_tbi2 = "https://github.com/nf-cmgg/test-datasets/raw/main/data/genomics/homo_sapiens/illumina/vcf/SVcontrol/cnv/PosCon2.cnv.vcf.gz.tbi"
    cnv_vcf3 = "https://github.com/nf-cmgg/test-datasets/raw/main/data/genomics/homo_sapiens/illumina/vcf/SVcontrol/cnv/PosCon3.cnv.vcf.gz"
    cnv_tbi3 = "https://github.com/nf-cmgg/test-datasets/raw/main/data/genomics/homo_sapiens/illumina/vcf/SVcontrol/cnv/PosCon3.cnv.vcf.gz.tbi"

    repeats_vcf1 = "https://github.com/nf-cmgg/test-datasets/raw/main/data/genomics/homo_sapiens/illumina/vcf/SVcontrol/repeats/PosCon1.repeats.vcf.gz"
    repeats_tbi1 = "https://github.com/nf-cmgg/test-datasets/raw/main/data/genomics/homo_sapiens/illumina/vcf/SVcontrol/repeats/PosCon1.repeats.vcf.gz.tbi"
    repeats_vcf2 = "https://github.com/nf-cmgg/test-datasets/raw/main/data/genomics/homo_sapiens/illumina/vcf/SVcontrol/repeats/PosCon2.repeats.vcf.gz"
    repeats_tbi2 = "https://github.com/nf-cmgg/test-datasets/raw/main/data/genomics/homo_sapiens/illumina/vcf/SVcontrol/repeats/PosCon2.repeats.vcf.gz.tbi"

    svync_configs = "${projectDir}/assets/svync"
    bedgovcf_configs = "${projectDir}/assets/bedgovcf"
    vcfanno_tomls = "${projectDir}/assets/vcfanno"

    igenomes_ignore = true
    genomes_ignore = true
}

process {
    // Limit resources so that this can run on GitHub Actions
    resourceLimits = [
        cpus  : 2,
        memory: 6.GB,
        time  : 6.h
    ]
}