/*
========================================================================================
    Nextflow config file for running tests
========================================================================================
*/

// Change some params to test data
params {
    test_data_base = 'https://raw.githubusercontent.com/nf-core/test-datasets/modules'

    config_profile_name        = 'nf-test profile'
    config_profile_description = 'Configurations for running nf-test'

    // Limit resources so that this can run on GitHub Actions
    max_cpus   = 2
    max_memory = '6.GB'
    max_time   = '6.h'

    input  = "${baseDir}/tests/inputs/samplesheet.csv"

    // References for test data
    fasta                   = "https://github.com/CenterForMedicalGeneticsGhent/nf-cmgg-test-datasets/raw/main/data/genomics/homo_sapiens/genome/seq/SVcontrol/reference.fasta"
    fai                     = "https://github.com/CenterForMedicalGeneticsGhent/nf-cmgg-test-datasets/raw/main/data/genomics/homo_sapiens/genome/seq/SVcontrol/reference.fasta.fai"
    bwa                     = "https://github.com/CenterForMedicalGeneticsGhent/nf-cmgg-test-datasets/raw/main/data/genomics/homo_sapiens/genome/seq/SVcontrol/bwa.tar.gz"
    expansionhunter_catalog = "https://github.com/CenterForMedicalGeneticsGhent/nf-cmgg-test-datasets/raw/main/data/genomics/homo_sapiens/genome/expansionhunter/variant_catalog.json"
    qdnaseq_male            = "https://github.com/CenterForMedicalGeneticsGhent/nf-cmgg-test-datasets/raw/main/data/genomics/homo_sapiens/genome/qdnaseq/chr21.10kbp.rda"
    qdnaseq_female          = "https://github.com/CenterForMedicalGeneticsGhent/nf-cmgg-test-datasets/raw/main/data/genomics/homo_sapiens/genome/qdnaseq/chr21.10kbp.rda"
    wisecondorx_reference   = "${projectDir}/assets/test_wisecondorx_reference.npz"
    
    igenomes_ignore = true
    genomes_ignore = true
}

process {
    cpus = 2
    memory = 3.GB
    time = 2.h
}

includeConfig 'https://raw.githubusercontent.com/nf-core/modules/master/tests/config/test_data.config'