process {
    withName: GAWK {
        ext.prefix = { "${meta.id}.qdnaseq.abberations" }
        ext.suffix = "bed"
        ext.args = "-F '\\t'"
        ext.args2 = "'{ if (\$5 >= 0.5 || \$5 <= -0.5 || \$5 == \"Inf\") { print } }'"
    }

    withName: BEDGOVCF {
        ext.prefix = { "${meta.id}.${meta.caller}" }
        ext.args = "--skip 1"
    }
}