/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Config file for defining DSL2 per module options and publishing paths
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Available keys to override module options:
        ext.args   = Additional arguments appended to command in module.
        ext.args2  = Second set of arguments appended to command in module (multi-tool modules).
        ext.args3  = Third set of arguments appended to command in module (multi-tool modules).
        ext.prefix = File name prefix for output files.
----------------------------------------------------------------------------------------
*/

def output_callers = params.output_callers
def callers = params.callers.tokenize(",")
def count_types = 0

// When making changes here, make sure to also update the following files: lib/GlobalVariables.groovy
def svCallers = ["delly", "manta", "smoove", "gridss"]
def cnvCallers = ["qdnaseq", "wisecondorx"]
def repeatsCallers = ["expansionhunter"]

def foundSvCallers = callers.intersect(svCallers)
def foundCnvCallers = callers.intersect(cnvCallers)
def foundRepeatsCallers = callers.intersect(repeatsCallers)

process {

    publishDir = [
        enabled: false
    ]

    /*
    ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
        MAIN FLOW
    ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    */

    if(params.annotate) {
        withName: 'ENSEMBLVEP_DOWNLOAD\$' {
            ext.args = "--AUTO c --CONVERT --NO_BIOPERL --NO_TEST --NO_UPDATE"
        }
    }

    if("gridss" in callers) {
        withName: 'BWA_INDEX\$' {
            ext.prefix = { "${fasta}" }
        }
    }

    /*
    ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
        STRUCTURAL VARIANT CALLING
    ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    */

    if(foundSvCallers){
        count_types++

        //
        // Delly
        //

        if("delly" in callers){
            withName: 'BAM_VARIANT_CALLING_DELLY:DELLY_CALL\$' {
                ext.args = {"--svtype ${params.delly_sv_types} --map-qual ${params.delly_map_qual} --min-clique-size ${params.delly_min_clique_size}"}
                ext.suffix = "vcf"
                ext.prefix = { "${meta.id}.delly" }
                publishDir = [[
                    enabled: foundSvCallers.size() == 1,
                    overwrite: true,
                    path: { "${params.outdir}/${meta.id}" },
                    mode: params.publish_dir_mode,
                    saveAs: { filename -> filename != "versions.yml" ? filename.replace("delly", "sv") : null }
                ],[
                    enabled: output_callers,
                    overwrite: true,
                    path: { "${params.outdir}/${meta.id}/delly" },
                    mode: params.publish_dir_mode,
                    saveAs: { filename -> filename != "versions.yml" ? filename : null }
                ]]
            }
        }

        //
        // Whamg
        //

        // if("whamg" in callers){
        //     withName: 'BAM_VARIANT_CALLING_WHAMG:WHAMG\$' {
        //         ext.prefix = { "${meta.id}.whamg" }
        //         ext.args = {[
        //             meta.region ? "-r ${meta.region}" : "" ,
        //             "-z"
        //         ].join(' ').trim()}
        //         publishDir = [
        //             enabled: output_callers,
        //             overwrite: true,
        //             path: { "${params.outdir}/${meta.id}/whamg" },
        //             mode: params.publish_dir_mode,
        //             saveAs: { filename -> filename != "versions.yml" ? filename : null }
        //         ]
        //     }
        // }

        //
        // Manta
        //

        if("manta" in callers){

            withName: "BAM_VARIANT_CALLING_MANTA:GAWK\$" {
                ext.suffix = "bed"
                ext.prefix = "contigs"
                ext.args2 = '\'BEGIN {FS="\t"}; \$1 ~ /^chr[1-9XY][1-9]?\$/ {print \$1 FS "0" FS \$2 }\''
            }

            withName: "MANTA_.*\$" {
                container = "quay.io/cmgg/manta:1.6.0"
            }

            withName: "BAM_VARIANT_CALLING_MANTA:MANTA_GERMLINE\$" {
                label = "process_high"
                cpus  = { check_max( 20 * task.attempt, 'cpus' ) }
            }

            withName: 'BAM_VARIANT_CALLING_MANTA:MANTA_CONVERTINVERSION\$' {
                ext.prefix = { "${meta.id}.manta" }
                publishDir = [[
                    enabled: foundSvCallers.size() == 1,
                    overwrite: true,
                    path: { "${params.outdir}/${meta.id}" },
                    mode: params.publish_dir_mode,
                    saveAs: { filename -> filename != "versions.yml" ? filename.replace("manta", "sv") : null }
                ],[
                    enabled: output_callers,
                    overwrite: true,
                    path: { "${params.outdir}/${meta.id}/manta" },
                    mode: params.publish_dir_mode,
                    saveAs: { filename -> filename != "versions.yml" ? filename : null }
                ]]
            }
        }

        //
        // Scramble
        //

        // if("scramble" in callers){
        //     withName: '.*:BAM_VARIANT_CALLING_SCRAMBLE:SCRAMBLE_CLUSTERANALYSIS\$' {
        //         ext.args = "--eval-meis"
        //     }
        // }

        //
        // Smoove
        //

        if("smoove" in callers){
            withName: 'BAM_VARIANT_CALLING_SMOOVE:BCFTOOLS_SORT\$' {
                ext.prefix = { "${meta.id}.smoove" }
                publishDir = [[
                    enabled: foundSvCallers.size() == 1,
                    overwrite: true,
                    path: { "${params.outdir}/${meta.id}" },
                    mode: params.publish_dir_mode,
                    saveAs: { filename -> filename != "versions.yml" ? filename.replace("smoove", "sv") : null }
                ],[
                    enabled: output_callers,
                    overwrite: true,
                    path: { "${params.outdir}/${meta.id}/smoove" },
                    mode: params.publish_dir_mode,
                    saveAs: { filename -> filename != "versions.yml" ? filename : null }
                ]]
            }

            withName: 'BAM_VARIANT_CALLING_SMOOVE:TABIX_TABIX\$' {
                publishDir = [[
                    enabled: foundSvCallers.size() == 1,
                    overwrite: true,
                    path: { "${params.outdir}/${meta.id}" },
                    mode: params.publish_dir_mode,
                    saveAs: { filename -> filename != "versions.yml" ? filename.replace("smoove", "sv") : null }
                ],[
                    enabled: output_callers,
                    overwrite: true,
                    path: { "${params.outdir}/${meta.id}/smoove" },
                    mode: params.publish_dir_mode,
                    saveAs: { filename -> filename != "versions.yml" ? filename : null }
                ]]
            }
        }

        //
        // Gridss
        //

        if("gridss" in callers){
            withName: 'BAM_VARIANT_CALLING_GRIDSS:GRIDSS_GRIDSS\$' {
                cpus   = { check_max( 8     * task.attempt, 'cpus'    ) }
                memory = { check_max( 32.GB * task.attempt, 'memory'  ) }
                ext.prefix = { "${meta.id}.gridss" }
                ext.args = { [
                    "--steps preprocess,assemble,call",
                    "--otherjvmheap ${task.memory.toGiga() > 10 ? 4 : 2}g",
                    "--jvmheap ${task.memory.toGiga() > 10 ? task.memory.toGiga() - 8 : 2}g"
                ].join(" ") }
                publishDir = [
                    enabled: output_callers,
                    overwrite: true,
                    path: { "${params.outdir}/${meta.id}/gridss" },
                    mode: params.publish_dir_mode,
                    saveAs: { filename -> filename ==~ /^.*.vcf.gz$/ ? filename : null }
                ]
            }

            withName: 'BAM_VARIANT_CALLING_GRIDSS:TABIX_TABIX\$' {
                publishDir = [
                    enabled: output_callers,
                    overwrite: true,
                    path: { "${params.outdir}/${meta.id}/gridss" },
                    mode: params.publish_dir_mode,
                    saveAs: { filename -> filename != "versions.yml" ? filename : null }
                ]
            }

            withName: "BAM_VARIANT_CALLING_GRIDSS:VIOLA\$" {
                time   = { check_max( 20.h  * task.attempt, 'time') }
                ext.prefix = { "${meta.id}.viola" }
                ext.args = { meta.read_length ? "--read_length ${meta.read_length}" : ""}
            }

            withName: "BAM_VARIANT_CALLING_GRIDSS:BCFTOOLS_SORT\$" {
                ext.prefix = { "${meta.id}.gridss" }
                publishDir = [
                    enabled: foundSvCallers.size() == 1,
                    overwrite: true,
                    path: { "${params.outdir}/${meta.id}" },
                    mode: params.publish_dir_mode,
                    saveAs: { filename -> filename != "versions.yml" ? filename.replace("gridss", "sv") : null }
                ]
            }

            withName: "BAM_VARIANT_CALLING_GRIDSS:TABIX_TABIX\$" {
                publishDir = [
                    enabled: foundSvCallers.size() == 1,
                    overwrite: true,
                    path: { "${params.outdir}/${meta.id}" },
                    mode: params.publish_dir_mode,
                    saveAs: { filename -> filename != "versions.yml" ? filename.replace("gridss", "sv") : null }
                ]
            }
        }
    }

    /*
    ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
        COPY NUMBER VARIATION
    ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    */

    if(foundCnvCallers){

        count_types++

        if("qdnaseq" in callers) {
            withName: "BAM_VARIANT_CALLING_QDNASEQ:QDNASEQ.*\$" {
                cpus = 1
                memory = { check_max(50.GB * task.attempt, 'memory') }
                ext.prefix = { "${meta.id}.qdnaseq" }
                publishDir = [[
                    enabled: true,
                    overwrite: true,
                    path: { "${params.outdir}/${meta.id}" },
                    mode: params.publish_dir_mode,
                    saveAs: { filename -> filename != "versions.yml" ? filename : null }
                ],[
                    enabled: output_callers,
                    overwrite: true,
                    path: { "${params.outdir}/${meta.id}/qdnaseq" },
                    mode: params.publish_dir_mode,
                    saveAs: { filename -> filename != "versions.yml" ? filename : null }
                ]]
            }

            withName: "BAM_VARIANT_CALLING_QDNASEQ:GAWK\$" {
                ext.prefix = { "${meta.id}.qdnaseq.abberations" }
                ext.suffix = "bed"
                ext.args = "-F '\\t'"
                ext.args2 = "'{ if (\$5 >= ${params.qdnaseq_cnv_ratio} || \$5 <= -${params.qdnaseq_cnv_ratio} || \$5 == \"Inf\") { print } }'"
                publishDir = [[
                    enabled: true,
                    overwrite: true,
                    path: { "${params.outdir}/${meta.id}" },
                    mode: params.publish_dir_mode,
                    saveAs: { filename -> filename != "versions.yml" ? filename : null }
                ],[
                    enabled: output_callers,
                    overwrite: true,
                    path: { "${params.outdir}/${meta.id}/qdnaseq" },
                    mode: params.publish_dir_mode,
                    saveAs: { filename -> filename != "versions.yml" ? filename : null }
                ]]
            }

        }

        if("wisecondorx" in callers) {
            withName: "BAM_VARIANT_CALLING_WISECONDORX:WISECONDORX_PREDICT\$" {
                memory = { check_max(50.GB * task.attempt, 'memory') }
                ext.prefix = { "${meta.id}.wisecondorx" }
                publishDir = [[
                    enabled: true,
                    overwrite: true,
                    path: { "${params.outdir}/${meta.id}" },
                    mode: params.publish_dir_mode,
                    saveAs: { filename -> filename != "versions.yml" ? filename : null }
                ],[
                    enabled: output_callers,
                    overwrite: true,
                    path: { "${params.outdir}/${meta.id}/wisecondorx" },
                    mode: params.publish_dir_mode,
                    saveAs: { filename -> filename != "versions.yml" ? filename : null }
                ]]
            }
        }

        withName: "BAM_CNV_CALLING:[^:]*:BEDGOVCF\$" {
            ext.prefix = { "${meta.id}.${meta.caller}" }
            ext.args = { meta.caller == "qdnaseq" ? "--skip 1" : "--header" }
            publishDir = [[
                enabled: foundCnvCallers.size() == 1,
                overwrite: true,
                path: { "${params.outdir}/${meta.id}" },
                mode: params.publish_dir_mode,
                saveAs: { filename -> filename.endsWith("vcf.gz") ? filename.replace("${meta.caller}", "cnv") : null }
            ],[
                enabled: output_callers,
                overwrite: true,
                path: { "${params.outdir}/${meta.id}/${meta.caller}" },
                mode: params.publish_dir_mode,
                saveAs: { filename -> filename != "versions.yml" ? filename : null }
            ]]
        }

        withName: "BAM_CNV_CALLING:[^:]*:TABIX_TABIX\$" {
            publishDir = [[
                enabled: foundCnvCallers.size() == 1,
                overwrite: true,
                path: { "${params.outdir}/${meta.id}" },
                mode: params.publish_dir_mode,
                saveAs: { filename -> filename.endsWith("vcf.gz.tbi") ? filename.replace("${meta.caller}", "cnv") : null }
            ],[
                enabled: output_callers,
                overwrite: true,
                path: { "${params.outdir}/${meta.id}/${meta.caller}" },
                mode: params.publish_dir_mode,
                saveAs: { filename -> filename != "versions.yml" ? filename : null }
            ]]
        }

    }

    /*
    ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
        JASMINE MERGE
    ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    */

    if(foundCnvCallers.size() > 1 || foundSvCallers.size() > 1) {
        withName: "VCF_MERGE_CALLERS_JASMINE:JASMINESV\$" {
            ext.args = {[
                meta.variant_type == "sv" ? "min_support=${params.sv_callers_support}" : "",
                meta.variant_type == "cnv" ? "min_support=${params.cnv_callers_support}" : "",
                "--allow_intrasample"
            ].join(' ').trim()}
        }

        withName: "VCF_MERGE_CALLERS_JASMINE:BCFTOOLS_REHEADER\$" {
            ext.prefix = { "${meta.id}_reheadered" }
            ext.args2 = "--output-type z"
        }

        withName: "VCF_MERGE_CALLERS_JASMINE:BCFTOOLS_SORT\$" {
            ext.prefix = { "${meta.id}.${meta.variant_type}" }
            publishDir = [
                enabled: !params.annotate,
                overwrite: true,
                path: { "${params.outdir}/${meta.id}" },
                mode: params.publish_dir_mode,
                saveAs: { filename -> filename != "versions.yml" ? filename : null }
            ]
        }
    }

    withName: "VCF_MERGE_CALLERS_JASMINE:TABIX_TABIX\$" {
        publishDir = [
            enabled: !params.annotate,
            overwrite: true,
            path: { "${params.outdir}/${meta.id}" },
            mode: params.publish_dir_mode,
            saveAs: { filename ->
                if(meta.variant_type == "sv" && foundSvCallers.size() == 1) {
                    return null
                }
                else if(meta.variant_type == "cnv" && foundSvCallers.size() == 1) {
                    return null
                }
                return filename != "versions.yml" ? filename : null
            }
        ]
    }

    /*
    ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
        ANNOTATION
    ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    */

    if(params.annotate){

        withName: "VCF_ANNOTATE_VEP_ANNOTSV_VCFANNO:BCFTOOLS_FILTER\$" {
            ext.prefix = {"${meta.id}.filter"}
            ext.args = "-e 'GT=\"ref\"'"
        }

        withName: "VCF_ANNOTATE_VEP_ANNOTSV_VCFANNO:ANNOTSV_ANNOTSV\$" {
            ext.args = "-vcf 1 -SVminSize 20"
            ext.prefix = {"${meta.id}.annot"}
        }

        withName: "VCF_ANNOTATE_VEP_ANNOTSV_VCFANNO:TABIX_ANNOTSV\$" {
            ext.prefix = params.annotsv_file_name
        }

        withName: "VCF_ANNOTATE_VEP_ANNOTSV_VCFANNO:ENSEMBLVEP_VEP\$" {
            ext.prefix = {"${meta.id}.vep"}
            ext.args = {[
                // specify we use VCF files
                '--format vcf',
                // don't contact external db
                '--offline',
                // increase buffer_size to speed up analysis
                '--buffer_size 100000',
                // output format options
                '--vcf --compress_output bgzip --force_overwrite',
                // co-located variant info
                '--check_existing',
                // specific options for structural variants
                '--overlaps', // TODO define the best configuration for --max_sv_size, --batch_size, --check_svs and --database
                // plugins
                (params.vep_phenotypes) ? "--plugin Phenotypes,file=${params.phenotypes.split('/')[-1]}": ""
            ].join(' ').trim()}
        }

        withName: "VCF_ANNOTATE_VEP_ANNOTSV_VCFANNO:VCFANNO\$" {
            ext.args = "-permissive-overlap -ends"
        }

        if(!params.annotations_filter) {
            withName: "VCF_ANNOTATE_VEP_ANNOTSV_VCFANNO:TABIX_ANNOTATED\$" {
                ext.prefix = { "${meta.id}.${meta.variant_type}" }
                publishDir = [
                    enabled: true,
                    overwrite: true,
                    path: { "${params.outdir}/${meta.id}" },
                    mode: params.publish_dir_mode,
                    saveAs: { filename -> filename != "versions.yml" ? filename : null }
                ]
            }
        }

        if(params.annotations_filter) {
            withName: "VCF_ANNOTATE_VEP_ANNOTSV_VCFANNO:BCFTOOLS_FILTER_COMMON\$" {
                ext.prefix = {"${meta.id}.${meta.variant_type}"}
                ext.args = "${params.annotations_filter} --output-type z"
                publishDir = [
                    enabled: true,
                    overwrite: true,
                    path: { "${params.outdir}/${meta.id}" },
                    mode: params.publish_dir_mode,
                    saveAs: { filename -> filename != "versions.yml" ? filename : null }
                ]
            }


            withName: "VCF_ANNOTATE_VEP_ANNOTSV_VCFANNO:TABIX_FILTER\$" {
                publishDir = [
                    enabled: true,
                    overwrite: true,
                    path: { "${params.outdir}/${meta.id}" },
                    mode: params.publish_dir_mode,
                    saveAs: { filename -> filename != "versions.yml" ? filename : null }
                ]
            }
        }

    }

    /*
    ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
        REPEAT ESTIMATION
    ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    */

    if(foundRepeatsCallers){
        count_types++

        withName: "BAM_REPEAT_ESTIMATION_EXPANSIONHUNTER:EXPANSIONHUNTER\$" {
            ext.args = {"--sex ${meta.sex}"}
        }

        withName: "BAM_REPEAT_ESTIMATION_EXPANSIONHUNTER:BCFTOOLS_ANNOTATE\$" {
            ext.args = "-c INFO/REPREF:=INFO/REF --output-type z"
            ext.prefix = { "${meta.id}.renamed_ref" }
        }

        withName: "BAM_REPEAT_ESTIMATION_EXPANSIONHUNTER:BCFTOOLS_REHEADER\$" {
            ext.args2 = "--output-type z"
            ext.prefix = { "${meta.id}.repeats" }
            publishDir = [[
                enabled: true,
                overwrite: true,
                path: { "${params.outdir}/${meta.id}" },
                mode: params.publish_dir_mode,
                saveAs: { filename -> filename != "versions.yml" ? filename : null }
            ],[
                enabled: output_callers,
                overwrite: true,
                path: { "${params.outdir}/${meta.id}/expansionhunter" },
                mode: params.publish_dir_mode,
                saveAs: { filename -> filename != "versions.yml" ? filename : null }
            ]]
        }

        withName: "BAM_REPEAT_ESTIMATION_EXPANSIONHUNTER:TABIX_TABIX\$" {
            publishDir = [[
                enabled: true,
                overwrite: true,
                path: { "${params.outdir}/${meta.id}" },
                mode: params.publish_dir_mode,
                saveAs: { filename -> filename != "versions.yml" ? filename : null }
            ],[
                enabled: output_callers,
                overwrite: true,
                path: { "${params.outdir}/${meta.id}/expansionhunter" },
                mode: params.publish_dir_mode,
                saveAs: { filename -> filename != "versions.yml" ? filename : null }
            ]]
        }
    }

    /*
    ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
        CONCAT OUTPUTS
    ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    */

    if(count_types > 1 && params.concat_output){

        withName: "VCF_CONCAT_BCFTOOLS:BCFTOOLS_CONCAT\$" {
            ext.args = "--output-type z --allow-overlaps"
            ext.prefix = { "${meta.id}.concat" }
            publishDir = [
                enabled: true,
                overwrite: true,
                path: { "${params.outdir}/${meta.id}" },
                mode: params.publish_dir_mode,
                saveAs: { filename -> filename != "versions.yml" ? filename : null }
            ]
        }

        withName: "VCF_CONCAT_BCFTOOLS:TABIX_TABIX\$" {
            publishDir = [
                enabled: true,
                overwrite: true,
                path: { "${params.outdir}/${meta.id}" },
                mode: params.publish_dir_mode,
                saveAs: { filename -> filename != "versions.yml" ? filename : null }
            ]
        }
    }

    /*
    ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
        MERGE FAMILY SAMPLES
    ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    */

    withName: "VCF_MERGE_FAMILY_JASMINE:JASMINESV\$" {
        ext.args = "--output_genotypes"
    }

    withName: "VCF_MERGE_FAMILY_JASMINE:BCFTOOLS_REHEADER\$" {
        ext.args2 = "--output-type z"
        ext.prefix = { "${meta.id}.reheadered" }
    }

    withName: "VCF_MERGE_FAMILY_JASMINE:BCFTOOLS_SORT\$" {
        ext.args = "--output-type z"
        publishDir = [
            enabled: true,
            overwrite: true,
            path: { "${params.outdir}/${meta.family}" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename != "versions.yml" ? filename : null }
        ]
    }

    withName: "VCF_MERGE_FAMILY_JASMINE:TABIX_TABIX\$" {
        publishDir = [
            enabled: true,
            overwrite: true,
            path: { "${params.outdir}/${meta.family}" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename != "versions.yml" ? filename : null }
        ]
    }

    /*
    ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
        REST OF THE PIPELINE
    ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    */

    withName: CUSTOM_DUMPSOFTWAREVERSIONS {
        publishDir = [
            enabled: true,
            path: { "${params.outdir}/pipeline_info" },
            mode: params.publish_dir_mode,
            pattern: '*_versions.yml'
        ]
    }

}
