/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Nextflow config file for running nf-test
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
*/

params {
    config_profile_name        = 'nf-test profile'
    config_profile_description = 'Configurations for running nf-test'

    // Limit resources so that this can run on GitHub Actions
    max_cpus   = 2
    max_memory = '6.GB'
    max_time   = '6.h'

    input  = "${baseDir}/tests/inputs/samplesheet.csv"
    outdir = "${outputDir}"

    // Fasta references
    fasta                   = "https://github.com/CenterForMedicalGeneticsGhent/nf-cmgg-test-datasets/raw/main/data/genomics/homo_sapiens/genome/seq/SVcontrol/reference.fasta"
    fai                     = "https://github.com/CenterForMedicalGeneticsGhent/nf-cmgg-test-datasets/raw/main/data/genomics/homo_sapiens/genome/seq/SVcontrol/reference.fasta.fai"
    bwa                     = "https://github.com/CenterForMedicalGeneticsGhent/nf-cmgg-test-datasets/raw/main/data/genomics/homo_sapiens/genome/seq/SVcontrol/bwa.tar.gz"
    expansionhunter_catalog = params.test_data["homo_sapiens"]["genome"]["expansionhunter"]
    qdnaseq_male            = params.test_data["homo_sapiens"]["genome"]["genome_qdnaseq"]
    qdnaseq_female          = params.test_data["homo_sapiens"]["genome"]["genome_qdnaseq"]
    wisecondorx_reference   = "${projectDir}/assets/test_wisecondorx_reference.npz"
    igenomes_ignore = true
    genomes_ignore = true
}
