/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Nextflow config file for running nf-test
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
*/

params {
    config_profile_name        = 'nf-test profile'
    config_profile_description = 'Configurations for running nf-test'

    // Limit resources so that this can run on GitHub Actions
    max_cpus   = 2
    max_memory = '6.GB'
    max_time   = '6.h'

    input  = "${params.baseDir}/tests/inputs/samplesheet.csv"
    outdir = "${params.outputDir}"

    vep_cache           = null
    vep_version         = "105.0"
    vep_cache_version   = "105"

    // Fasta references
    genomes_base = "s3://reference-data/genomes"
    igenomes_ignore = true
    genomes_ignore = false
}
