/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Nextflow config file for running minimal tests
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Defines input files and everything required to run a fast and simple pipeline test.

    Use as follows:
        nextflow run CenterForMedicalGeneticsGhent/nf-cmgg-structural -profile test,<docker/singularity> --outdir <OUTDIR>

----------------------------------------------------------------------------------------
*/

params {
    config_profile_name        = 'Test profile'
    config_profile_description = 'Minimal test dataset to check pipeline function'

    // Limit resources so that this can run on GitHub Actions
    max_cpus   = 2
    max_memory = '6.GB'
    max_time   = '6.h'

    // Input data
    // TODO nf-core: Specify the paths to your test data on nf-core/test-datasets
    // TODO nf-core: Give any required params for the test so that command line flags are not needed
    input  = 'assets/samplesheet_local.csv'

    // Fasta references
    fasta        = "/home/nvnieuwk/Documents/data/references/hg38.fa"
    fasta_fai    = "/home/nvnieuwk/Documents/data/references/hg38.fa.fai"
    dict         = "/home/nvnieuwk/Documents/data/references/hg38.dict"

    // Pipeline parameters
    callers                 = "whamg" //manta,whamg
    delly_sv_types          = "DEL,DUP"
    delly_scatter_count     = 1
    whamg_include_bed_file  = false
}
