/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Nextflow config file for running minimal tests
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Defines input files and everything required to run a fast and simple pipeline test.

    Use as follows:
        nextflow run nf-cmgg/structural -profile test,<docker/singularity> --outdir <OUTDIR>

----------------------------------------------------------------------------------------
*/

params {
    config_profile_name        = 'Test profile'
    config_profile_description = 'Minimal test dataset to check pipeline function'

    // Limit resources so that this can run on GitHub Actions
    max_cpus   = 2
    max_memory = '6.GB'
    max_time   = '6.h'

    // Input data
    // TODO nf-core: Specify the paths to your test data on nf-core/test-datasets
    // TODO nf-core: Give any required params for the test so that command line flags are not needed
    input  = "${projectDir}/assets/samplesheet.csv"

    // Fasta references
    fasta                   = "https://github.com/nf-cmgg/nf-cmgg-test-datasets/raw/main/data/genomics/homo_sapiens/genome/seq/SVcontrol/reference.fasta"
    fai                     = "https://github.com/nf-cmgg/nf-cmgg-test-datasets/raw/main/data/genomics/homo_sapiens/genome/seq/SVcontrol/reference.fasta.fai"
    bwa                     = "https://github.com/nf-cmgg/nf-cmgg-test-datasets/raw/main/data/genomics/homo_sapiens/genome/seq/SVcontrol/bwa.tar.gz"
    expansionhunter_catalog = params.test_data["homo_sapiens"]["genome"]["expansionhunter"]
    qdnaseq_male           = params.test_data["homo_sapiens"]["genome"]["genome_qdnaseq"]
    qdnaseq_female         = params.test_data["homo_sapiens"]["genome"]["genome_qdnaseq"]
    igenomes_ignore = true
    genomes_ignore = false
    genome = 'GRCh38'
    genomes_base = "s3://reference-data/genomes"
    vep_cache = null
    annotsv_annotations = null

    annotate = true
    concat_output = true

    // Pipeline parameters
    callers = "delly,manta,smoove,expansionhunter,qdnaseq" //,gridss
    output_callers = true
}
