/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Nextflow config file for running big tests on the HPC clusters
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Defines input files and everything required to run a bigger pipeline test.

    Use as follows:
        nextflow run CenterForMedicalGeneticsGhent/nf-cmgg-structural -profile test_big,<docker/singularity> --outdir <OUTDIR>

----------------------------------------------------------------------------------------
*/

params {
    config_profile_name        = 'Test profile'
    config_profile_description = 'Big test dataset to check the abilities of the pipeline (Please run this on the HPC)'

    // Input data
    input  = "${projectDir}/assets/samplesheet_big.csv"

    // Fasta references
    genomes_base = "s3://reference-data/genomes"
    igenomes_ignore = true
    genomes_ignore = false

    // Pipeline parameters
    callers = "delly,manta,smoove,gridss" //manta,whamg,delly,smoove,gridss
    output_callers = true
}
