process {
    withName: BCFTOOLS_FILTER {
        ext.prefix = {"${meta.id}.filter"}
    }

    withName: ANNOTSV_ANNOTSV {
        ext.prefix = {"${meta.id}.annot"}
        ext.args = "-vcf 1"
    }

    withName: TABIX_ANNOTSV {
        ext.prefix = "annotsv_annotated"
    }

    withName: ENSEMBLVEP_VEP {
        ext.prefix = {"${meta.id}.vep"}
    }

    withName: TABIX_ANNOTATED {
        ext.prefix = { "${meta.id}.${meta.variant_type}" }
    }

    withName: BCFTOOLS_FILTER_COMMON {
        ext.prefix = {"${meta.id}.${meta.variant_type}"}
    }

}