process {
    withName: GRIDSS_GRIDSS {
        ext.args = { [
            "--steps preprocess,assemble,call",
            "--otherjvmheap ${task.memory.toGiga() > 10 ? 4 : 2}g",
            "--jvmheap ${task.memory.toGiga() > 10 ? task.memory.toGiga() - 8 : 2}g"
        ].join(" ") }
    }

    withName: VIOLA {
        ext.prefix = { "${meta.id}.viola" }
        ext.args = { meta.read_length ? "--read_length ${meta.read_length}" : ""}
    }

    withName: BCFTOOLS_SORT {
        ext.prefix = { "${meta.id}.gridss" }
    }
}
