process {
    withName: JASMINESV {
        ext.args = "--output_genotypes"
    }

    withName: FIX_CALLERS {
        ext.prefix = { "${meta.id}.callers-corrected" }
    }

    withName: BCFTOOLS_CONSENSUS_REHEADER {
        ext.prefix = { "${meta.id}.reheadered" }
    }

    withName: BCFTOOLS_SORT {
        ext.args = "--output-type z"
    }

}
