process {
    withName: QDNASEQ {
        ext.prefix = { "${meta.id}.qdnaseq" }
    }

    withName: GAWK {
        ext.prefix = { "${meta.id}.qdnaseq.abberations" }
        ext.suffix = "bed"
        ext.args = "-F '\\t'"
        ext.args2 = "'{ if (\$5 >= 0.5 || \$5 <= -0.5 || \$5 == \"Inf\") { print } }'"
    }

    withName: WISECONDORX_PREDICT {
        ext.prefix = { "${meta.id}.wisecondorx" }
    }


    withName: BEDGOVCF {
        ext.prefix = { "${meta.id}.${meta.caller}" }
        ext.args = { meta.caller == "qdnaseq" ? "--skip 1" : "--header" }
    }

    withName: JASMINESV {
        ext.args = {[
            meta.variant_type == "sv" ? "min_support=1" : "",
            meta.variant_type == "cnv" ? "min_support=1" : "",
            "--allow_intrasample"
        ].join(' ').trim()}
    }

    withName: BCFTOOLS_REHEADER {
        ext.prefix = { "${meta.id}_reheadered" }
        ext.args2 = "--output-type z"
    }

    withName: BCFTOOLS_SORT {
        ext.prefix = { "${meta.id}.${meta.variant_type}" }
    }
}
