process {
    withName: JASMINESV {
        ext.args = {[
            meta.variant_type == "sv" ? "min_support=${params.sv_callers_support}" : "",
            meta.variant_type == "cnv" ? "min_support=${params.cnv_callers_support}" : "",
            "--allow_intrasample"
        ].join(' ').trim()}
    }

    withName: FIX_CALLERS {
        ext.prefix = { "${meta.id}_fixed" }
    }

    withName: BCFTOOLS_REHEADER {
        ext.prefix = { "${meta.id}_reheadered" }
        ext.args2 = "--output-type z"
    }

    withName: BCFTOOLS_SORT {
        ext.prefix = { "${meta.id}.${meta.variant_type}" }
    }

}
