name: nf-core CI
# This workflow runs the pipeline with the minimal test dataset to check that it completes without any syntax errors
on:
  push:
    branches:
      - dev
  pull_request:
  release:
    types: [published]
  workflow_dispatch:

env:
  NXF_ANSI_LOG: false
  AWS_ACCESS_KEY_ID: ${{ secrets.UGENT_S3_ACCESS_KEY }}
  AWS_SECRET_ACCESS_KEY: ${{ secrets.UGENT_S3_SECRET_KEY }}
  NXF_SINGULARITY_CACHEDIR: ${{ github.workspace }}/.singularity
  NXF_SINGULARITY_LIBRARYDIR: ${{ github.workspace }}/.singularity

concurrency:
  group: "${{ github.workflow }}-${{ github.event.pull_request.number || github.ref }}"
  cancel-in-progress: true

jobs:
  test:
    name: Run nf-test with ${{ matrix.test }}-${{ matrix.NXF_VER }}
    # Only run on push if this is the nf-core dev branch (merged PRs)
    if: "${{ github.event_name != 'push' || (github.event_name == 'push' && github.repository == 'nf-cmgg/structural') }}"
    runs-on: ubuntu-latest
    strategy:
      matrix:
        NXF_VER:
          - "25.04.0"
          - "latest-everything"
        test:
          - "pipeline_sv"
          - "pipeline_cnv"
          - "pipeline_repeats"
          - "pipeline_duplicates"
          - "pipeline_families"
          - "pipeline_bedpe"
          - "bam_cnv_calling"
          - "bam_prepare_samtools"
          - "bam_repeat_estimation_expansionhunter"
          - "bam_sv_calling"
          - "bam_variant_calling_delly"
          # - "bam_variant_calling_gridss"
          - "bam_variant_calling_manta"
          - "bam_variant_calling_qdnaseq"
          - "bam_variant_calling_smoove"
          - "bam_variant_calling_wisecondorx"
          - "vcf_annotate_vep_annotsv"
          - "vcf_annotate_vcfanno"
          - "vcf_concat_bcftools"
          - "vcf_merge_callers_jasmine"
          - "vcf_merge_family_jasmine"

    steps:
      - name: Free some space
        run: |
          sudo rm -rf "/usr/local/share/boost"
          sudo rm -rf "$AGENT_TOOLSDIRECTORY"
          sudo rm -rf /usr/share/dotnet
          sudo rm -rf /opt/ghc

      - name: Check out pipeline code
        uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4
        with:
          fetch-depth: 0

      - name: Set up Nextflow
        uses: nf-core/setup-nextflow@v2
        with:
          version: "${{ matrix.NXF_VER }}"

      - name: Disk space cleanup
        uses: jlumbroso/free-disk-space@54081f138730dfa15788a46383842cd2f914a1be # v1.3.1

      - name: Install nf-test
        run: |
          conda install -c bioconda nf-test

      - name: Run pipeline with test data
        run: |
          $CONDA/bin/nf-test test --tag ${{ matrix.test }} --junitxml=default.xml

      - name: Publish Test Report
        uses: mikepenz/action-junit-report@v3
        if: always() # always run even if the previous step fails
        with:
          report_paths: "default.xml"

      - name: Upload log file artifact
        if: failure()
        uses: actions/upload-artifact@v4
        with:
          name: nf-test-workdir
          path: .nf-test/
